#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section {
  min-height: 300px;
  padding: 15px;
  padding-top: 60px;
}

@media(min-width:767px) {
  .navbar {
	padding: 20px 0;
	-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
	-moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
	transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .top-nav-collapse {
	padding: 0;
  }
}

.control {
  display: inline-block;
  margin: 3px;
  cursor: pointer;
}

.controls {
  text-align: center;
  width: 100%;
}

.dataControl .Card {
  min-height: 300px;
}

div.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardContainer {
  width: 100%;
}
